build --apple_platform_type=ios
build --ios_minimum_os=9.0
build --watchos_minimum_os=3.0
build --cpu=ios_sim_arm64
build --spawn_strategy=local
build --features=swift.use_global_module_cache
build --swiftcopt=-whole-module-optimization 
build --host_swiftcopt=-whole-module-optimization
build --verbose_failures

test --curses=no
test --compilation_mode=fastbuild
test --test_output=all
test --test_timeout=3600